# ======================
# DATA (DO NOT COMMIT)
# ======================
data/
dataset/
datasets/

*.csv
*.tsv
*.json
*.zip
*.wav
*.mp3
*.flac
*.npy
*.npz
*.pt
*.pth
*.h5
*.ckpt

# ======================
# MODELS & CHECKPOINTS
# ======================
models/
checkpoints/
runs/

# ======================
# SYSTEM FILES
# ======================
.DS_Store
